.near-city{
    position: relative;
}
.near-city-img{
    width:100%;
    height: 30%;

}
.near-city-img img{
    width:100%;
    height: 30vh;
    object-fit: cover;
    display: block;
}

.near-city-info{
    position: absolute;
    right:0;
    bottom: 0;
    left: 0;
    color:white;
    background: rgba(0, 0, 0, 0.479);
    height: 100%;
    z-index: 5;
    margin: 0 5px;
    opacity: 0;
    transition: all .3s ease-in-out;
    /* overflow: hidden; */
}
.near-city:hover .near-city-info{
    opacity: 1;
}
.nearcity-banner{
    background:linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('https://images.unsplash.com/photo-1503220317375-aaad61436b1b?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1170&q=80');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}