.header{
    height: 100vh;
    background:linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('https://images.unsplash.com/photo-1503220317375-aaad61436b1b?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1170&q=80');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.header h1{
    font-size: 3.5rem;
    font-weight: 600;
}
.header p{
    font-size: 1.5rem;
}